    
    * {
        box-sizing: border-box;
    }

    body {
       margin: 0px; 
       height: 100vh;
       display: grid;
       place-items: center;
    }

    canvas {
        width: 800px;
        height: 600px;
        border: 1px dashed gray;
        box-shadow: 0px 0px 16px gray;
        border-radius: 16px;
    }